<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="MrngBatch">
  <test thread-count="5" parallel="tests" name="Test1">
    <classes>
      <class name="Sep11.FirstTestNGClass"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" parallel="tests" name="Test2">
    <classes>
      <class name="Sep11.SecondTestNGClass"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" parallel="tests" name="Test3">
    <classes>
      <class name="Sep11.ThirdtestNGClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- MrngBatch -->
